$primary-color: #34bd

body;before {

    background-color: $primary-color;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  color: red;
  background-color: blue;
}

.primary-button {
  @extend .button;
  background-color: green;
}

.secondary-button {
  @extend .button;
  background-color: gray;
}